@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-left: calc(100vw - 100%);
}

.break-long-words {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
